/* Slider.css */
.slider-container {
  position: relative;
}

.slider {
  display: flex;
  overflow: hidden;
  position: relative;
}

.slide {
  flex: 0 0 100%;
  height: 300px; /* Adjust the height as needed */
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease;
}

.slide.active {
  transform: translateX(0);
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #717171;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #202020;
}
