.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  width: 100%;
  height: 230px;
  display: inline-block;
  border-radius: 40px;
}

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #4b596d;
}
/* Tab view*/
@media only screen and (min-width: 768px) {
  .slideshow {
    height: 580px;
  }
  .slide {
    height: 540px;
  }
}

/* Desktop view */
@media only screen and (min-width: 1000px) {
  .slideshow {
    max-width: 95%;
  }
}
