.storiesContainer {
  width: 100%;
  margin-bottom: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.storiesHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.storiesHeader p {
  color: #212121;
  font-family: "Poppins-Regular" !important;
  font-size: 38px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 124% !important;
}
.storiesBox {
  width: 100%;
  display: flex;
  justify-content: left;
  flex-direction: row;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.storiesBox > * {
  flex: 0 0 100%;
}
.storiesCard {
  width: 1073px;
  height: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 60px 0px rgba(4, 6, 15, 0.05);
}

.coverBox {
  width: 100%;
  height: 100%;
}
.coverBox img {
  width: 100%;
  height: 100%;
}
.storiesTextBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.comaIcon {
  display: flex;
  justify-content: end;
  padding-right: 57px;
}
.userInfoBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userBox {
  padding: 12px;
}
.userTextBox p {
  color: #212121;
  font-family: "Poppins-Regular" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 150% !important;
}
.navigateBtnBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.userName {
  color: #212121;
  font-family: "Poppins-Regular" !important;
  font-size: 18px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 140% !important;
}
.userLink {
  color: #b8845f;
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 22px !important;
}
.buttonBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -10px;
  right: 7px;
}
.arrowDisabled {
  pointer-events: none;
  /* opacity: 0.5; */
  cursor: not-allowed;
}
.ScrollBtn {
  display: block;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}

/* Tab view*/
@media only screen and (min-width: 768px) {
  .storiesCard {
    width: 1073px;
    flex-direction: row;
    height: 484px;
    padding: 44px;
    /* margin-right: 50px; */
  }
  .padding2nd {
    padding-right: 45;
  }
  .coverBox {
    width: 504px;
    height: 396px;
    margin-right: 0px;
  }
  .storiesTextBox {
    width: 64%;
    padding: 0;
  }
  .userBox {
    padding: 30px;
  }
  .navigateBtnBox {
    justify-content: end;
  }
  .storiesHeader p {
    font-size: 45px !important;
  }
  .buttonBox {
    right: 35px;
  }
}

/* Desktop view */
@media only screen and (min-width: 1000px) {
  .storiesContainer {
    width: 90%;
  }
  .buttonBox {
    right: 230px;
  }
  .storiesBox {
    width: 100%;
  }
  .coverBox {
    width: 602px;
    height: 396px;
    margin-right: 53px;
  }
  .storiesCard {
    width: 1073px;
    flex-direction: row;
    height: 484px;
    padding: 44px;
    /* margin-right: 50px; */
  }
  .padding2nd {
    padding-right: 125px;
  }
}
